#clients {
  background-image: url('/dist/assets/img/clients-bg.png');
  @include bg-cover;

  .container {
    padding: 85px 0;
  }

  h2 {
    color: $font-color;
    margin-bottom: 60px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px;

    a {
      img:nth-child(1), img:nth-child(8) {
        max-width: 178px;
        width: 100%;
      }
      img:nth-child(2) {
        max-width: 162px;
        width: 100%;
      }
      img:nth-child(3) {
        max-width: 150px;
        width: 100%;
      }
      img:nth-child(4) {
        max-width: 140px;
        width: 100%;
      }
      img:nth-child(5) {
        max-width: 162px;
        width: 100%;
      }
      img:nth-child(6) {
        max-width: 127px;
        width: 100%;
      }
      img:nth-child(7) {
        max-width: 166px;
        width: 100%;
      }
    }
  }
}