#testimonials {
  background-color: $black-color;

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > img {
      cursor: pointer;
    }

    .wrapper {
      width: 90%;

      .viewport {
        width: 100%;
        overflow: hidden;

        .items {
          width: 100%;
          display: flex;
          transition: 1s;

          .review-page {
            display: flex;
            width: 100%;
            grid-gap: 20px;
  
            .review {
              display: flex;
              align-items: center;
              width: 50vw;
              @media screen and (max-width: 720px) {
                flex-direction: column;
                text-align: center;
              }
      
              .picture {
                img {
                  object-fit: cover;
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  margin-bottom: 15px;
                  margin-right: 30px;
                  @media screen and (max-width: 720px) {
                    margin-right: 0;
                  }
                }
      
                .divider {
                  width: 100px;
                }
              }
      
              .info {
                color: $white-color;
      
                p {
                  font-family: 'Noto Sans', sans-serif;
                  font-style: italic;
                  font-size: 14px;
                  margin-top: 25px;
                  margin-bottom: 30px;
                }
      
                .name {
                  font-weight: 600;
                }

                @media screen and (max-width: 580px) {
                  h4 {
                    font-size: 14px;
                  }

                  p {
                    font-size: 11px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}